In [4]:
import os
import glob

from pathlib import Path
import pandas as pd
import numpy as np
import spacy

# Quickview de textes relatifs à l'anxiété

In [6]:
from os import listdir
from os.path import isfile, join

dir_path = "D:\Cours\TER\Reddit_text_analysis\eRisk_DS\writings"
#allfiles = (f for f in listdir(dir_path))

## Import des données
### Comparaison de méthodes

In [94]:
%%timeit
texts = []
for file in allfiles:
    with open(os.path.join(path, file)) as f:
        texts.append(f.read())

KeyboardInterrupt:

In [ ]:
def path_iterator(paths):
    for p in paths:
        yield p.open("r").read()

In [ ]:
%%timeit
my_files = Path(dir_path).glob("*.txt")
texts = path_iterator(my_files)
text_series = pd.Series(texts)

### Creation du dataframe avec les ground_truth

In [31]:
text_series = pd.Series(texts)

In [43]:
df_anx = text_series.to_frame()
authors = [file.split("_")[0] for file in allfiles]
df_anx["subject"] = authors

In [51]:
df_anx_subject = pd.read_csv("D:\Cours\TER\Reddit_text_analysis\eRisk_DS\GoldenTruth_eRisk\Anx_erisk_golden_truth.txt", sep=" ", header=None, names=["subject","at_risk"])
df_anx_subject.head()

       subject  at_risk
0  subject9272        1
1  subject7413        1
2  subject1731        1
3   subject583        1
4  subject3796        1

In [55]:
df_anx = df_anx.rename(columns={df_anx.columns[0]:"text",df_anx.columns[1]:"subject"})

In [56]:
df_anx = df_anx.set_index("subject")
df_anx_subject = df_anx_subject.set_index("subject")

In [59]:
df_anx = df_anx.join(df_anx_subject)

In [62]:
df_anx = df_anx.reset_index()

In [63]:
df_anx.to_csv("test_anx_2019.csv")

In [65]:
df_anx.to_pickle("test_anx_2019.pkl", compression="zip")

In [68]:
df = pd.read_pickle("test_anx_2019.pkl", compression="zip")
len(df)

570509

In [87]:
df.groupby(["at_risk","subject"]).count()

                     text
at_risk subject
0       subject1001  1505
        subject1037   181
        subject1044  1151
        subject1053   104
        subject107    107
...                   ...
1       subject946     17
        subject9499   797
        subject9590    62
        subject968    222
        subject9688   235

[815 rows x 1 columns]

In [53]:
dir_path = r"D:\Cours\TER\Reddit_text_analysis\eRisk_DS\dep_all_2018\all"
name = "all_dep_2019.pkl"

def create_df_from_dir(dir_path, name):
   
    def path_iterator(paths):
        for p in paths:
            yield p.open("r", encoding='latin1').read()

    allfiles = (f for f in listdir(dir_path))
    my_files = Path(dir_path).glob("*.txt")
    texts = path_iterator(my_files)
    text_series = pd.Series(texts)
    
    df_anx = text_series.to_frame()
    authors = [file.split("_")[0] for file in allfiles]
    df_anx["subject"] = authors
    df_anx_subject = pd.read_csv("D:\Cours\TER\Reddit_text_analysis\eRisk_DS\GoldenTruth_eRisk\dep_erisk_golden_truth.txt", sep=" ", header=None, names=["subject","at_risk"])
    df_anx = df_anx.rename(columns={df_anx.columns[0]:"text",df_anx.columns[1]:"subject"})
    df_anx = df_anx.set_index("subject")
    df_anx_subject = df_anx_subject.set_index("subject")
    df_anx = df_anx.join(df_anx_subject)
    df_anx = df_anx.reset_index()
    df_anx.to_pickle(name, compression="zip")
    return df_anx, df_anx_subject

In [54]:
df3 = create_df_from_dir(dir_path, name)

In [19]:
df3, dfsub = df3

,subject,text,at_risk
0,subject1010,Unidan?,NaN
1,subject1010,"This was, character by character, going t...",NaN
2,subject1010,What's the J?,NaN
3,subject1010,Thanks!,NaN
4,subject1010,"Thanks, hope to some day",NaN
...,...,...,...
1075836,train,"Your so called ""blood moons"" are a totall...",NaN
1075837,train,"Yeah, its pretty bad",NaN
1075838,train,Crawfish Etouffee,NaN
1075839,train,45 days. I was in the field in the Army.,NaN
1075840,train,Because that has worked well in the past?...,NaN

In [51]:
df3.at_risk.value_counts()

Series([], Name: at_risk, dtype: int64)

In [48]:
df_anx_subject = pd.read_csv("D:\Cours\TER\Reddit_text_analysis\eRisk_DS\GoldenTruth_eRisk\dep_erisk_golden_truth.txt", header=None , sep=" ")
df_anx_subject[df_anx_subject.columns[0]] = df_anx_subject[df_anx_subject.columns[0]].apply(lambda x: x.split("_")[-1])
df_anx_subject = df_anx_subject.rename(columns={df_anx_subject.columns[0]:'subject'})

In [50]:
#df3 = df3.set_index("subject")
df_anx_subject = df_anx_subject.set_index("subject")
df3 = df3.join(df_anx_subject)

In [52]:
df3

                                                          text  at_risk   1
subject
subject1010                                           Unidan?       NaN NaN
subject1010       This was, character by character, going t...      NaN NaN
subject1010                                     What's the J?       NaN NaN
subject1010                                           Thanks!       NaN NaN
subject1010                          Thanks, hope to some day       NaN NaN
...                                                        ...      ...  ..
train             Your so called "blood moons" are a totall...      NaN NaN
train                                    Yeah, its pretty bad       NaN NaN
train                                       Crawfish Etouffee       NaN NaN
train               45 days. I was in the field in the Army.        NaN NaN
train             Because that has worked well in the past?...      NaN NaN

[1075841 rows x 3 columns]